@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.bg_primario {
  background: #fd571b;
}

.bg_light {
  background: #f7f7f7;
}

.sinPadding {
  padding: 0;
}

header .barrasuperior {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fd571b;
}

header .barrasuperior p {
  color: white;
  padding: .5rem;
  font-size: 1.6rem;
}

header .barracentral__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .barracentral__logo img {
  padding: 2rem 0;
}

header .barracentral__buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

header .barracentral__buscador__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}

header .barracentral__buscador__contacto a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  font-size: 1.4rem;
}

header .barracentral__buscador__contacto a i {
  color: #fd571b;
}

header .barracentral__buscador__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px solid #e2e2e2;
  overflow: hidden;
}

header .barracentral__buscador__search .campobuscar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3rem;
  padding: 2rem;
  border: 0;
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar::-webkit-input-placeholder {
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar:-ms-input-placeholder {
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar::-ms-input-placeholder {
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar::placeholder {
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar:focus-visible::-webkit-input-placeholder {
  color: #b3b3b3;
}

header .barracentral__buscador__search .campobuscar:focus-visible:-ms-input-placeholder {
  color: #b3b3b3;
}

header .barracentral__buscador__search .campobuscar:focus-visible::-ms-input-placeholder {
  color: #b3b3b3;
}

header .barracentral__buscador__search .campobuscar:focus-visible::placeholder {
  color: #b3b3b3;
}

header .barracentral__buscador__search .campobuscar:focus-visible {
  outline: 0;
  color: black;
}

header .barracentral__buscador__search .botonbuscar {
  background: none;
  border: 0;
  border-left: 1px solid #e2e2e2;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: gray;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
  height: 100%;
}

header .barracentral__buscador__search .botonbuscar:hover {
  color: white;
  background: #fd571b;
}

.hero__categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__categorias__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  background: white;
  border: .5rem solid white;
  position: absolute;
  top: 2rem;
  left: 0;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.hero__categorias__menu .titulo {
  font-size: 2rem;
  font-weight: 600;
  background: #fd571b;
  color: white;
  padding: 1rem 2rem;
}

.hero__categorias__menu .cat {
  font-size: 1.5rem;
  padding: 1.4rem 2rem;
  border-bottom: 1px solid #e2e2e2;
}

.hero__categorias__menu .cat:last-child {
  margin-bottom: 1rem;
  border-bottom: 0;
}

.hero__slider {
  padding: 2rem 3rem;
}

.hero__slider .slider {
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.hero__slider .slider img {
  width: 100%;
}

.hero__slider .carousel-control-next, .hero__slider .carousel-control-prev {
  width: 10%;
}

.hero__slider .carousel-control-next-icon, .hero__slider .carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
}

.carrito {
  position: fixed;
  z-index: 99;
  bottom: 1rem;
  right: 1rem;
  width: 500px;
  max-height: 600px;
  border-radius: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px #b1b1b1;
          box-shadow: 0px 0px 10px #b1b1b1;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  overflow: hidden;
}

.carrito.cerrado {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s .3s, opacity .3s linear;
  transition: visibility 0s .3s, opacity .3s linear;
}

.carrito__titulo {
  border-bottom: #cccccc solid 1px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 4fr 2fr 1fr;
      grid-template-columns: 4fr 2fr 1fr;
  padding: .5rem 2rem .5rem 1rem;
}

.carrito__titulo h4 {
  font-size: 2.2rem;
  color: #fd571b;
  margin: 0;
}

.carrito__titulo .cerrar {
  justify-self: flex-end;
  font-size: 2.2rem;
  cursor: pointer;
}

.carrito__titulo .vaciar {
  justify-self: flex-end;
  font-size: 1.3rem;
  cursor: pointer;
}

.carrito__productosTitulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  padding-bottom: .5rem;
  font-size: 1.4rem;
  gap: 2rem;
}

.carrito__productosTitulos--imagen {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carrito__productosTitulos--titulo {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carrito__productosTitulos--cantidad {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carrito__productosTitulos--precio {
  width: 20%;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carrito__productosTitulos--borrar {
  width: 10%;
}

.carrito__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  padding-top: 1rem;
  overflow-y: scroll;
  max-height: 60vh;
}

.carrito__productos .nuevoProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.carrito__productos .nuevoProducto .carritoImagen {
  width: 15%;
}

.carrito__productos .nuevoProducto .carritoTitulo {
  width: 50%;
  font-size: 1.6rem;
}

.carrito__productos .nuevoProducto .carritoCantidad {
  width: 15%;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.carrito__productos .nuevoProducto .carritoCantidad .menos, .carrito__productos .nuevoProducto .carritoCantidad .mas {
  font-size: 2.2rem;
  font-weight: 600;
  cursor: pointer;
}

.carrito__productos .nuevoProducto .carritoPrecio {
  width: 20%;
  font-size: 1.8rem;
  font-weight: 600;
}

.carrito__productos .nuevoProducto .carritoBorrar {
  width: 5%;
}

.carrito__productos .nuevoProducto .carritoBorrar i {
  color: #ca1c1c;
  font-size: 1.2rem;
  cursor: pointer;
}

.carrito__footer {
  padding: 1rem;
  background: #fd571b;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carrito__footer:hover {
  background: black;
}

.carrito__footer:hover h5 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.carrito__footer:hover h5 .carritoFlecha {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.carrito__footer h5 {
  color: white;
  font-size: 2rem;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrito__footer h5 #carritoTotal {
  font-weight: 600;
  font-size: 2.4rem;
}

.carrito__footer h5 .carritoFlecha {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: 1rem;
}

#botonCarrito {
  position: fixed;
  z-index: 99;
  bottom: 1rem;
  right: 1rem;
  font-size: 4.6rem;
  background: white;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px #b1b1b1;
          box-shadow: 0px 0px 10px #b1b1b1;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

#botonCarrito.cerrado {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s .3s, opacity .3s linear;
  transition: visibility 0s .3s, opacity .3s linear;
}

#botonCarrito .numerito {
  position: absolute;
  top: -1rem;
  left: -1rem;
  background: #fd571b;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#botonCarrito .numerito #numerito.shake {
  -webkit-animation: shake 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

#botonCarrito .numerito p {
  font-size: 1.4rem;
  color: white;
  margin: 0;
  line-height: 1;
}

#botonCarrito i {
  color: #fd571b;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

.productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
}

.productos .producto {
  border-radius: 2rem;
  overflow: hidden;
  border: 0.4rem solid #fd571b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .4rem;
  padding-bottom: 1.4rem;
  -webkit-box-shadow: 0px 0px 10px #b1b1b1;
          box-shadow: 0px 0px 10px #b1b1b1;
}

.productos .producto__img {
  max-width: 100%;
}

.productos .producto__titulo {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: -1px;
}

.productos .producto__precio {
  color: #fd571b;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}

.productos .producto__agregar, .productos .producto__sinStock {
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #797979;
  margin-bottom: .6rem;
  border-radius: .4rem;
  letter-spacing: -1px;
  width: 90%;
  padding: .5rem 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.productos .producto__agregar:hover, .productos .producto__sinStock:hover {
  color: white;
  border-color: #fd571b;
  background: #fd571b;
}

.productos .producto__sinStock {
  background: #c4c4c4;
  color: #686868;
  display: none;
  cursor: not-allowed;
}

.productos .producto__sinStock:hover {
  background: #c4c4c4;
  color: #686868;
  border-color: #797979;
}

.productos .producto__whatsapp {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
  background: #25d366;
  color: white;
  border-radius: .4rem;
  letter-spacing: -1px;
  width: 90%;
  padding: .5rem 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productos .producto__whatsapp .fa-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.productos .producto__whatsapp > p {
  text-align: left;
  line-height: 1;
}

.productos .producto__whatsapp:hover {
  color: white;
  border-color: #fd571b;
  background: #fd571b;
}

#noQuedaStock .modal-content {
  background: #ff4b5c;
  color: #900;
}

#noQuedaStock .modal-content .modal-header {
  border-bottom-color: #900;
}

#noQuedaStock .modal-content .modal-header h5 {
  font-size: 1.8rem;
}

.pasos {
  background: #fd571b;
  padding: 6rem 0 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  height: 100%;
  min-height: 100vh;
  border-top-right-radius: 3rem;
}

.pasos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  cursor: pointer;
}

.pasos > div.disabled {
  opacity: 50%;
}

.pasos__numerito {
  background: white;
  width: 4rem;
  height: 4rem;
  border-radius: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #fd571b;
  font-weight: 800;
}

.pasos__nombre {
  font-size: 1.3rem;
  color: white;
  font-weight: 400;
}

.principal {
  padding: 4rem;
}

.principal .cerrado {
  display: none;
}

.principal__titulo {
  font-size: 4rem;
}

.principal__subtitulo {
  margin-bottom: 2rem;
}

.principal__form.formaDePago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.principal__form.formaDePago .formaDePago__opcion {
  padding: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

.principal__form.formaDePago .formaDePago__opcion input[type="radio"] {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0;
  cursor: pointer;
}

.principal__form.formaDePago .formaDePago__opcion label {
  cursor: pointer;
}

.principal__form.tarjeta {
  margin-top: 4rem;
}

.principal__form * {
  font-size: 1.6rem;
}

.principal__form__linea {
  margin-bottom: 2rem;
}

.principal__form__linea .col-md {
  padding-right: 1rem;
  padding-left: 1rem;
}

.principal__form__linea .col-md:first-child {
  padding-left: 0;
}

.principal__form__linea .col-md:last-child {
  padding-right: 0;
}

.principal__form .checkDireccion {
  margin-bottom: 2rem;
}

.principal__form .checkDireccion input, .principal__form .checkDireccion label {
  cursor: pointer;
}

.principal__form .direccionDiferente {
  display: none;
}

.principal__form .form-floating input, .principal__form .form-floating label {
  padding-left: 1.6rem;
}

.principal__form .form-floating input {
  border-radius: 1.2rem;
  line-height: 1;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.principal__form .form-floating label {
  color: #7e7e7e;
  line-height: 2;
}

.form-floating > .form-control, .form-floating > .form-select {
  height: calc(5rem + 4px);
}

.detalles {
  background: #fd571b;
  padding: 4rem;
  height: 100%;
  min-height: 100vh;
  border-top-left-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.detalles__secundario {
  background: #e64a12;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  color: white;
  gap: 2rem;
}

.detalles__secundario > h4 {
  font-size: 2rem;
}

.detalles__carrito .checkoutCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.detalles__carrito .checkoutCarrito .checkoutProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
}

.detalles__carrito .checkoutCarrito .checkoutProducto__imagen {
  width: 15%;
}

.detalles__carrito .checkoutPrecioTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.detalles__carrito .checkoutPrecioTotal h5 {
  font-size: 1.8rem;
}

.detalles__tusDetalles {
  display: none;
}

.detalles__tusDetalles .infoPersonal__nombre {
  font-size: 1.8rem;
}

.detalles__tusDetalles .infoPersonal__pais {
  font-size: 1.4rem;
}

.detalles__tusDetalles .infoPersonal__direccion {
  font-size: 1.4rem;
}

.detalles__envio {
  display: none;
}

.detalles__envio .checkoutEnvio__pais {
  font-size: 1.4rem;
}

.detalles__envio .checkoutEnvio__direccion {
  font-size: 1.4rem;
}

.checkoutBoton {
  background: #fd571b;
  border-color: #fd571b;
  padding: 1rem 2rem;
  border-radius: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.checkoutBoton.atras {
  background: #969696;
  border-color: #969696;
}

.checkoutBoton h6 {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0;
}

.checkoutBoton i {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.checkoutBoton:hover {
  background: black;
  border-color: black;
}

.checkoutBoton:hover h6 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.checkoutBoton:hover i {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.botonesCheckout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.botonesCheckout button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer {
  padding: 3rem 0;
  border-top: 1px solid #e2e2e2;
}

footer .tarjetascorreos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

footer .footerlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

footer .footerlogo img {
  width: 150px;
}

footer .accesoalpanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
}

footer .accesoalpanel a {
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

footer .accesoalpanel a:hover {
  color: #fd571b !important;
}
/*# sourceMappingURL=style.css.map */