@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.bg_primario {
  background: #fd571b;
}

.bg_light {
  background: #f7f7f7;
}

header .barrasuperior {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fd571b;
}

header .barrasuperior p {
  color: white;
  padding: .5rem;
  font-size: 1.6rem;
}

header .barracentral__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .barracentral__logo img {
  padding: 2rem 0;
}

header .barracentral__buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

header .barracentral__buscador__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}

header .barracentral__buscador__contacto a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  font-size: 1.4rem;
}

header .barracentral__buscador__contacto a i {
  color: #fd571b;
}

header .barracentral__buscador__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px solid #e2e2e2;
  overflow: hidden;
}

header .barracentral__buscador__search .campobuscar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3rem;
  padding: 2rem;
  border: 0;
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar::-webkit-input-placeholder {
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar:-ms-input-placeholder {
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar::-ms-input-placeholder {
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar::placeholder {
  font-size: 1.4rem;
}

header .barracentral__buscador__search .campobuscar:focus-visible::-webkit-input-placeholder {
  color: #b3b3b3;
}

header .barracentral__buscador__search .campobuscar:focus-visible:-ms-input-placeholder {
  color: #b3b3b3;
}

header .barracentral__buscador__search .campobuscar:focus-visible::-ms-input-placeholder {
  color: #b3b3b3;
}

header .barracentral__buscador__search .campobuscar:focus-visible::placeholder {
  color: #b3b3b3;
}

header .barracentral__buscador__search .campobuscar:focus-visible {
  outline: 0;
  color: black;
}

header .barracentral__buscador__search .botonbuscar {
  background: none;
  border: 0;
  border-left: 1px solid #e2e2e2;
  padding: 0 2rem;
  font-size: 1.6rem;
  color: gray;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
  height: 100%;
}

header .barracentral__buscador__search .botonbuscar:hover {
  color: white;
  background: #fd571b;
}

.hero__categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__categorias__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  background: white;
  border: .5rem solid white;
  position: absolute;
  top: 2rem;
  left: 0;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.hero__categorias__menu .titulo {
  font-size: 2rem;
  font-weight: 600;
  background: #fd571b;
  color: white;
  padding: 1rem 2rem;
}

.hero__categorias__menu .cat {
  font-size: 1.5rem;
  padding: 1.4rem 2rem;
  border-bottom: 1px solid #e2e2e2;
}

.hero__categorias__menu .cat:last-child {
  margin-bottom: 1rem;
  border-bottom: 0;
}

.hero__slider {
  padding: 2rem 3rem;
}

.hero__slider .slider {
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.hero__slider .slider img {
  width: 100%;
}

.hero__slider .carousel-control-next, .hero__slider .carousel-control-prev {
  width: 10%;
}

.hero__slider .carousel-control-next-icon, .hero__slider .carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
}

#carrito {
  position: fixed;
  z-index: 99;
  bottom: 1rem;
  right: 1rem;
  width: 500px;
  height: 300px;
  padding: 3rem;
  border: 0.3rem solid #fd571b;
  border-radius: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 10px #b1b1b1;
          box-shadow: 0px 0px 10px #b1b1b1;
  display: none;
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#carrito h4 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #fd571b;
  margin-bottom: 2rem;
}

#carrito h5 {
  font-size: 2rem;
  font-weight: 600;
  color: #fd571b;
}

#carrito .cerrar {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

#carrito .nuevoProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

#carrito .nuevoProducto .carritoImagen {
  width: 20%;
}

#carrito .nuevoProducto .carritoTitulo {
  font-size: 1.6rem;
}

#carrito .nuevoProducto .carritoCantidad {
  font-size: 1.6rem;
}

#carrito .nuevoProducto .carritoPrecio {
  font-size: 1.8rem;
  font-weight: 600;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

.productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
}

.productos .producto {
  border-radius: 2rem;
  overflow: hidden;
  border: 0.4rem solid #fd571b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .4rem;
  padding-bottom: 1.4rem;
  -webkit-box-shadow: 0px 0px 10px #b1b1b1;
          box-shadow: 0px 0px 10px #b1b1b1;
}

.productos .producto__img {
  max-width: 100%;
}

.productos .producto__titulo {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: -1px;
}

.productos .producto__precio {
  color: #fd571b;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}

.productos .producto__agregar {
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid #797979;
  margin-bottom: .6rem;
  border-radius: .4rem;
  letter-spacing: -1px;
  width: 90%;
  padding: .5rem 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.productos .producto__agregar:hover {
  color: white;
  border-color: #fd571b;
  background: #fd571b;
}

.productos .producto__whatsapp {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
  background: #25d366;
  color: white;
  border-radius: .4rem;
  letter-spacing: -1px;
  width: 90%;
  padding: .5rem 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productos .producto__whatsapp .fa-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.productos .producto__whatsapp > p {
  text-align: left;
  line-height: 1;
}

.productos .producto__whatsapp:hover {
  color: white;
  border-color: #fd571b;
  background: #fd571b;
}

#noQuedaStock .modal-content {
  background: #ff4b5c;
  color: #900;
}

#noQuedaStock .modal-content .modal-header {
  border-bottom-color: #900;
}

#noQuedaStock .modal-content .modal-header h5 {
  font-size: 1.8rem;
}

footer {
  padding: 3rem 0;
  border-top: 1px solid #e2e2e2;
}

footer .tarjetascorreos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

footer .footerlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

footer .footerlogo img {
  width: 150px;
}

footer .accesoalpanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
}

footer .accesoalpanel a {
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

footer .accesoalpanel a:hover {
  color: #fd571b !important;
}
/*# sourceMappingURL=style.css.map */