@import "colors";

.pasos {
    background: $primario;
    padding: 6rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    height: 100%;
    min-height: 100vh;
    border-top-right-radius: 3rem;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
        cursor: default;

        &.disabled {
            opacity: 50%;
        }
    }

    &__numerito {
        background: white;
        width: 4rem;
        height: 4rem;
        border-radius: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: $primario;
        font-weight: 800;
    }

    &__nombre {
        font-size: 1.3rem;
        color: white;
        font-weight: 400;
    }
}

.principal {
    padding: 4rem;

    &__titulo {
        font-size: 4rem;
    }

    &__subtitulo {
        margin-bottom: 2rem;
    }

    &__confirmacion {
        .iconoConfirmacion {
            font-size: 8rem;
            color: $primario;
        }

        a {
            color: $primario;
            text-decoration: underline;
            font-size: 1.6rem;
        }
    }
    
    &__form{

        &.formaDePago {
            display: flex;
            justify-content: space-between;

            .formaDePago__opcion {
                padding: 2rem;
                position: relative;
                display: flex;
                flex-grow: 1;
                align-items: center;
                justify-content: center;
                box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
                border-radius: 1rem;
                border: 1px solid #c4c4c4;
                cursor: pointer;

                input[type="radio"] {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    margin: 0;
                    cursor: pointer;
                }

                label {
                    cursor: pointer;
                }
            }
        }

        &.tarjeta {
            margin-top: 4rem;
        }

        * {
            font-size: 1.6rem;
        }

        &__linea {
            margin-bottom: 2rem;

            .col-md {
                padding-right: 1rem;
                padding-left: 1rem;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .checkDireccion {
            margin-bottom: 2rem;

            input, label {
                cursor: pointer;
            }
        }
        
        .form-floating {

            input, label {
                padding-left: 1.6rem;
            }

            input {
                border-radius: 1.2rem;
                line-height: 1;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
            }

            label {
                color: #7e7e7e;
                line-height: 2;
            }
        }
    }
}

.form-floating > .form-control, .form-floating > .form-select {
    height: calc(5rem + 4px);
}

.detalles {
    background: $primario;
    padding: 4rem;
    height: 100%;
    min-height: 100vh;
    border-top-left-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__secundario {
        background: $secundario;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        color: white;
        gap: 2rem;

        > h4 {
            font-size: 2rem;
        }
    }

    &__carrito {

        .checkoutCarrito {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .checkoutProducto {
                display: grid;
                grid-template-columns: 1fr 4fr 1fr 2fr;
                align-items: center;
                gap: .5rem;
                font-size: 1.4rem;

                &__imagen {
                    width: 100%;
                }
            }
        }

        .checkoutPrecioTotal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;

            h5 {
                font-size: 1.8rem;
            }
        }
    }

    &__tusDetalles {    

        .infoPersonal {

            &__nombre {
                font-size: 1.8rem;
            }

            &__pais {
                font-size: 1.4rem;
                font-weight: 300;
            }

            &__direccion {
                font-size: 1.4rem;
                font-weight: 300;
            }

            &__email {
                font-size: 1.4rem;
                font-weight: 300;
            }
        }
    }

    &__envio {

        .checkoutEnvio {

            &__pais {
                font-size: 1.4rem;
                font-weight: 300;
            }

            &__direccion {
                font-size: 1.4rem;
                font-weight: 300;
            }
        }
    }
}

.checkoutBoton {
    background: $primario;
    border-color: $primario;
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    &:focus {
        background: $primario;
        border-color: $primario;
    }

    &.atras {
        background: rgb(150, 150, 150);
        border-color: rgb(150, 150, 150);
    }

    h6 {
        transform: translateX(-10px);
        transition: all .3s;
        margin: 0;
    }

    i {
        transform: translateX(20px);
        opacity: 0;
        transition: all .3s;
    }

    &:hover {
        background: black;
        border-color: black;

        h6 {
            transform: translateX(0);
        }

        i {
            transform: translateX(0);
            opacity: 1;
            transition: all .3s;
        }
    }
}

.botonesCheckout {
    display: flex;
    gap: 4rem;
    
    button {
        flex-grow: 1;
    }
}

.cerrado {
    display: none;
}