@import "colors";

footer {
    padding: 3rem 0;
    border-top: 1px solid #e2e2e2;

    .tarjetascorreos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        @include movil {
            flex-direction: column;
            gap: 1rem;
            padding: 0 2rem;
        }

        img {

            @include movil {
                max-width: 100%;
            }
        }
    }

    .footerlogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        
        img {
            width: 150px;
        }
    }

    .accesoalpanel {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        gap: 1rem;

        a {
            cursor: pointer;
            transition: color .3s;
            color: rgb(109, 109, 109);

            &:hover {
                color: $primario !important;
            }
        }
    }

    .footerCarpi {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: rgb(109, 109, 109);
    }
}