@import "colors";

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 3rem;

    .producto {
        border-radius: 2rem;
        overflow: hidden;
        border: .4rem solid $primario;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .4rem;
        padding-bottom: 1.4rem;
        box-shadow: 0px 0px 10px #b1b1b1;

        &__img {
            max-width: 100%;
        }

        &__titulo {
            font-size: 1.6rem;
            text-align: center;
            font-weight: 600;
            margin-bottom: 0;
            letter-spacing: -1px;
        }

        &__precio {
            color: $primario;
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 0;
            text-align: center;
        }

        &__agregar {
            font-size: 1.5rem;
            text-align: center;
            border: 2px solid #797979;
            margin-bottom: .6rem;
            border-radius: .4rem;
            letter-spacing: -1px;
            width: 90%;
            padding: .5rem 0;
            cursor: pointer;
            transition: all .2s;

            &:hover {
                color: white;
                border-color: $primario;
                background: $primario;
            }
        }

        &__sinStock {
            @extend .producto__agregar;
            background: #c4c4c4;
            color: #686868;
            display: none;

            &:hover {
                background: #c4c4c4;
                color: #686868;
                border-color: #797979;
            }
        }

        &__whatsapp {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 0;
            background: #25d366;
            color: white;
            border-radius: .4rem;
            letter-spacing: -1px;
            width: 90%;
            padding: .5rem 0;
            cursor: pointer;
            transition: all .2s;
            display: flex;

            .fa-whatsapp {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 1rem;
            }

            > p {
                text-align: left;
                line-height: 1;
            }

            &:hover {
                color: white;
                border-color: $primario;
                background: $primario;
            }
        }
    }
}

#noQuedaStock {
    .modal-content {
        background: #ff4b5c;
        color: #900;

        .modal-header {
            border-bottom-color: #900;

            h5 {
                font-size: 1.8rem;
            }
        }
    }
}